@font-face{
    font-family: MyXiaoZhuan;
    src: url('/fonts/XiaoZhuan.ttf') format('truetype');
}
@font-face{
    font-family: MyKaiTi;
    src: url('/fonts/KaiTi.ttf') format('truetype');
}
@font-face{
    font-family: MyShuSong;
    src: url('/fonts/ShuSong.ttf') format('truetype');
}
@font-face{
    font-family: MyFangSong;
    src: url('/fonts/FangSong.ttf') format('truetype');
}
@font-face{
    font-family: MyHeiTi;
    src: url('/fonts/HeiTi.ttf') format('truetype');
}
@font-face{
    font-family: MyChancery;
    src: url('/fonts/Chancery.woff2') format('woff2');
}
@font-face{
    font-family: MyGaramond;
    src: url('/fonts/Garamond.ttf') format('truetype');
}
@font-face{
    font-family: MyCentaur;
    src: url('/fonts/Centaur.otf') format('opentype');
}
@font-face{
    font-family: MyConsolas;
    src: url('/fonts/Consolas.ttf') format('truetype');
}
.menu-item a {
    font-size: 0.95em;
}
.site-subtitle {
    font-size: 1em;
}
.posts-expand .post-title {
    font-size: 1.6em;
}
